# All dotfiles
.*
# with the exception of these:
!.editorconfig
!.gitattributes
!.github
!.gitignore
!.pre-commit-config.yaml
!.prettierrc
!.prettierignore
!.nvmrc

# Other ignores
node_modules
pnpm-lock.yaml
